@import '../../scss/help/media-query';
@import '../../scss/variaveis';

.home {
    &__icon{
        font-size: 22px;
        color: $gray-medium ;
        border-radius: 100%;
        box-sizing: unset;
        padding: 7px;
        display: block;
        margin-bottom: 0;
    }
}

@include device('sm'){
    .home {
        &__icon{
            color: $gray-medium ;
            border-radius: 100%;
            box-sizing: unset;
        }
    }

}

@include device('md'){
    .home {
        &__search-area {
            margin-top: 150px;
        }
    }
}

@include device('lg'){
    .home {
        &__search-area {
            margin-top: 150px;
        }
    }
}

@include device('xl'){
    .home {
        &__search-area {
            margin-top: 150px;
        }
    }
}