@import '../../scss/variaveis/index.scss';
@import '../../scss/help/media-query';

.description-user {
    $root: &;
    min-width: 250px;
    width: 100% !important;

    &__content {
        #{$root}__name {
            font-size: map-get($sizes, 3);
            color: darken(#20c997, 20) !important;
        }
        #{$root}__email {
            color: #555;
        }
    }

    &__data {
        &__item {
            position: relative;
            color: #555 ;
        }
    }

    &__links > * {
        color: $color-infor;
    }

    &__bio {
        &__label {}
        &__text {
            width: 100%;
            min-height: 40px;
            padding: 5px;
            background-color: $gray;
        }
    }
}

@include device('sm') {
    .description-user {
        &__name {
            font-size: map-get($font-size , 3) !important;
            color: darken(#20c997, 20) !important;
        }

        &__data {
            &__item {
                font-size: 16px;
            }
        }

        &__bio {
            &__text {
                font-size: map-get($sizes , 2);
            }
        }
    }
}

@include device('md') {
    .description-user {
        &__name {
            font-size: map-get($font-size , 4) !important;
        }

        &__data {
            &__item {
                font-size: 16px;
            }
        }

        &__bio {
            &__text {
                font-size: map-get($font-size , 2);
            }
        }
    }
}

@include device('lg') {
    .description-user {
        &__name {
            margin-top: 80px;
            font-size: map-get($font-size , 5) !important;
        }

        &__data {
            &__item {
                font-size: 16px;
            }
        }

        &__bio {
            &__text {
                font-size: map-get($font-size , 2);
            }
        }
    }

}