<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <article class="description-user">
        
        <figure class="description-user__thumb">
            <img src="" alt="" class="description-user__thumb-img">
        </figure>

        <div class="description-user__content">
            
            <header class="description-user__content-user">
                <h2 class="description-user__content-user-name">
                    fer-front
                </h2>
                <span class="description-user__content-user-email">
                    fer.j.doc@gmail.com
                </span>
            </header>

            <div class="description-user__content-bio">
                <p class="description-user__bio">
                    is a web scraping system. It aims to simplify data extraction from the web for UI testing, 
machine learning, analytics and more.
                </p>
            </div>

            <div class="description-user__content-links">
                <div class="description-user__link">
                    <a href="">Perfil</a>
                    <span class="">100</span>
                </div>
                <div class="description-user__link">
                    <a href="">Repositório </a>
                    <span class="">100</span>
                </div>
                <div class="description-user__link">
                    <a href="">Seguidores </a>
                    <span class="">100</span>
                </div>
                <div class="description-user__link">
                    <a href="">Seguindo </a>
                    <span class="">100</span>
                </div>
            </div>
        </div>
    </article>



</body>
</html>