@import '../../scss/help/media-query';
@import '../../scss/variaveis';


.search-user {
    width: 100%;

    &__icon-github { 
        height: 150px;
        > img {
            max-width: 200px;
            width: 100%;
        }
    }
    &__input-search {
        max-width: 400px;
        background-color: $gray;
        border: none;
        border-radius: 4px;
    }
}

@include device('sm') {
    .search-user {
        &__icon-github {
            > img {
                width: 150px;
            }
        }
    }

    @include orientacao(true) {
        .search-user {
            &__icon-github {
                > img {
                    width: 50px;
                }
            }
            &-header {
                font-size: map-get($sizes, 3);
            }
        }
    }
}

@include device('md') {
    .search-user {
        &__input-search {
            width: 80% ;
        }
    }
}

@include device('lg') {        
    .search-user {
        &__input-search {
            width: 100% ;
        }
    }
}

@include device('xl') {
    .search-user {
        &__input-search {
            width: 100% ;
        }
    }
}