@mixin generateStyleBtn($bgcolor, $bgcolorhover, $borderColor, $sizeBorder, $textColor) {
    background-color: $bgcolor;
    border:$sizeBorder solid $borderColor;
    color: $textColor;

    &:hover {
        background-color: $bgcolorhover;
        color: darken($textColor, 10%);
        border: $sizeBorder solid darken($borderColor, 10%);
    }
}

@mixin generateBtnOutline($borderColor, $txtColor) {
    $border: 2px;
    $porcent: 10%;

    background-color: transparent !important;
    color: $txtColor;
    border: $border solid $borderColor;

    &:hover {
        color: darken($txtColor, $porcent);
        border: $border solid darken($borderColor, $porcent);
    }
}

@mixin generateBtnSolid($bgcolor, $txtcolor) {
    background-color: $bgcolor;
    color: $txtcolor;

    &:hover {
        background-color: darken($bgcolor, 10%);
    }
}

.btn-disabled {
    background-color: lighten($color: $color-gray, $amount: 10) !important;
    color: white !important;
    cursor: not-allowed !important;
}

.g-btn {
    width: 150px;
    height: 42px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    color: #333;
    font-weight: 800;

    &:hover {
        background-color: $color-gray;
        color: white;
    }

    &--primary {
        @include generateBtnSolid($color-primary, white)
    }
    &--success {
        @include generateBtnSolid($color-success, white)
    }
    &--error {
        @include generateBtnSolid($color-error, white);
    }
    &--infor {
        @include generateBtnSolid($color-infor, white);
    }
    &--alert {
        @include generateBtnSolid($color-alert, white);
    }
    &--disabled {
        @extend .btn-disabled;
    }

    &__outline {
        &--primary {
            @include generateBtnOutline($color-primary, $color-primary);
        }
        &--success {
            @include generateBtnOutline($color-success, $color-success);
        }
        &--error {
            @include generateBtnOutline($color-error, $color-error);
        }
        &--infor {
            @include generateBtnOutline($color-infor, $color-infor);
        }
        &--alert {
            @include generateBtnOutline($color-alert, $color-alert);
        }
        &--disabled {
            @extend .btn-disabled;
            @include generateBtnOutline($color-gray, $color-gray);
            color: $color-gray !important;
        }
    }
}