@mixin generateFontSize ($small, $medium, $large) {
    &--small {
        font-size: $small;
    }
    &--medium {
        font-size: $medium;
    }
    &--large {
        font-size: $large;
    }
}

h1, h2, h3, h4, small, span, p {
    font-family: 'Open Sans', sans-serif;
    color: $color-font;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-style: italic;
}

.titulo {
    font-size: map-get($font-size, 3);
    @include generateFontSize(24px, 44px, 56px);
}

.sub-titulo {
    font-size: 18px;
    font-weight: 700;

    @include generateFontSize(14px, 20px, 22px);
}

.font {
    &--bold {
        font-weight: 700;
    }
    &--light {
        font-weight: 300;
    }
    &--italic {
        font-style: italic;
    }
}


